/*====================================
	===[ Define the mixins ]===
======================================*/
@mixin screen-desktop {
	@media (min-width: 1441px){
			header {
				padding: 48px 0 0 0;
			}
			.blog-img{
				margin-top: 48px;
			}
			.main-container {
				.heading-block {
					padding: 180px 0 220px 0;
				}
			}
			#about{
				.blog-img{
					height: 750px;
				}
				.container{
					margin-top: -400px;
					padding: 120px 0 180px 0;
				}
			}
			#about{
				.container{
					#article-header{
						h1{
							font-size: 48px;
						}
						p{
							font-size: 32px;
						}
					}
				}
			}
	}
}
@mixin screen-laptop {
	@media (min-width: 1281px) and (max-width: 1440px) {
		.main-container{
			.heading-block{
				h1{
					font-size: 46px !important;
					line-height: 60px !important;
				}
			}
			.cta-section{
				h2{
					font-size: 46px !important;
					line-height: 60px !important;
				}
			}
		}
	}
}

@mixin screen-sm-laptop {    
	@media (min-width: 1185px) and (max-width: 1280px) {
		.main-container{
			.heading-block{
				h1{
					font-size: 42px !important;
					line-height: 54px !important;
				}
			}
			.cta-section{
				h2{
					width: 80%;
					font-size: 42px !important;
					line-height: 54px !important;
				}
			}
		}
		footer{
			.foot-menu{
				.fm-block{
					.fm-block-item{
						span{
							font-size: 18px;
						}
						a{
							font-size: 42px;
						}
					}
				}
			}
		}
	}
}

@mixin screen-tablet {    
	@media (min-width: 1025px) and (max-width: 1184px) {
		.main-container{
			.heading-block{
				h1{
					width: 80%;
					font-size: 38px !important;
					line-height: 44px !important;
				}
			}
			.cta-section{
				h2{
					width: 85%;
					font-size: 38px !important;
					line-height: 44px !important;
				}
			}
		}
		footer{
			.foot-menu{
				.fm-block{
					.fm-block-item{
						span{
							font-size: 18px;
						}
						a{
							font-size: 42px;
						}
					}
				}
			}
		}
	}
}

@mixin screen-mob-landscape {    
	@media (min-width: 768px) and (max-width: 1024px) {
		.main-container{
			.heading-block{
				h1{
					width: 90%;
					font-size: 32px !important;
					line-height: 42px !important;
				}
			}
			.cta-section{
				height: 300px;
				h2{
					width: 88%;
					font-size: 30px !important;
					line-height: 42px !important;
				}
			}
		}
		footer{
			.foot-menu{
				.fm-block{
					.fm-block-item{
						span{
							font-size: 16px;
						}
						a{
							font-size: 34px;
						}
					}
				}
			}
		}
	}
}

@mixin screen-mob-portrait {    
	@media (min-width: 320px) and (max-width: 767px) {
		#about{
			.blog-img{
				background-attachment:scroll;
				height: 200px;
				margin-top: 18px;
			}
		}
		body {
			header{
				padding: 18px 0 0 0;
			}
			.main-container {
				padding-top: 0;

				.heading-block {
					padding: 90px 0 110px 0;
					h1 {
						width: 90%;
						font-size: 28px !important;
						line-height: 32px !important;
					}
				}

				.cta-section {
					height: 300px;

					h2 {
						width: 88%;
						font-size: 24px !important;
						line-height: 30px !important;
					}
				}
			}
			.blog-info{
				.container {
					margin: 0 auto;
					padding-left: 2%;
					padding-right: 2%;
					hyphens: manual;
					article {
						margin: 1%;
						#article-header{
							h1{
								font-size: 32px;
							}
							p{
								i{
									font-size: 24px;
								}
							}
						}
					}
				}
			}
			#connect-section{
				margin-top: 60px;
			}
			footer {
				.foot-menu {
					.fm-block {
						.fm-block-item {
							span {
								font-size: 15px;
							}

							a {
								font-size: 26px;
							}
						}
					}
				}
			}
		}
	}
}