/*====================================
		===[ Mixin Functions ]===
======================================*/

@mixin default-pseudo-function($width, $height, $top, $left, $right, $bottom) {
    content: '';
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    width: $width;
    height: $height;
}

@mixin default-flex-fn($jc-value, $ai-value, $ji-value, $fd-value) {
    display: flex;
    justify-content: $jc-value;
    align-items: $ai-value;
    justify-items: $ji-value;
    flex-direction: $fd-value;
}

@mixin default_animate( $property: all, $duration: 0.4s, $easing: ease) {
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
    -o-transition: $property $duration $easing;
    transition: $property $duration $easing;
}

@mixin img-object-fn() {
    object-fit: cover;
    object-position: center;
}

@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin default-wh($width, $height) {
    width: $width;
    height: $height;
}

@mixin default-margin($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

@mixin default-padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

@mixin box-sizing-bb {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/*====================================
	===[ Define vertical, horizontal, or both position ]===
======================================*/

@mixin center-absolute($position) {
    position: absolute;
    @if $position=='vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @else if $position=='horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    }
    @else if $position=='both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: transparentize($color: #000000, $amount: 0);
    }
}