.btn-default{
    padding: 8px 22px;
    background: $dark-main-color;
    font-size: 15px;
    color: $white;
    display: inline-block;
    @extend .text-capitalize;
    &:hover{
        color: $white;
    }
}
.btn-outline{
    background: transparent;
    border: 1px solid $gray-main-color;
    color: $gray-main-color;
    &:hover{
        color: $white;
        background: $dark-main-color;
        border-color: $dark-main-color;
    }
}
.btn-light{
    background: $white;
    color: $dark-main-color;
    &:hover{
        color: $dark-main-color;
    }
}