$primary-font: 'Pangram',
sans-serif;
$btn-ds-radius: 6px; // Default Size Radius Button
$radius-3x: calc(4px * 3); // Radius 3x
$radius-4x: calc(4px * 4); // Radius 4x
$default-font-size: 20px;
$radius-2x: calc(4px * 2); // Radius 2x