.header__logo {
  padding-top: 28px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .header__logo {
    padding-top: 18px;
  }
}
.header__logo > img {
  width: 275px;
  height: 100%;
}
@media (max-width: 991px) {
  .header__logo > img {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .header__logo > img {
    width: 200px;
  }
}

p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
}
@media (min-width: 992px) and (max-width: 1280px) {
  p {
    font-size: 20px;
    line-height: 33px;
  }
}
@media (max-width: 991px) {
  p {
    font-size: 18px;
    line-height: 30px;
  }
}
p a {
  color: #26e990;
}
p a:hover {
  color: #26e990;
  text-decoration: underline;
}

.body__h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .body__h1 {
    font-size: 34px;
  }
}
@media (max-width: 991px) {
  .body__h1 {
    font-size: 28px;
  }
}

.body__h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .body__h2 {
    font-size: 34px;
  }
}
@media (max-width: 991px) {
  .body__h2 {
    font-size: 28px;
  }
}

.body__subHeading {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 16px;
}
@media (min-width: 1001px) and (max-width: 1280px) {
  .body__subHeading {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 1000px) {
  .body__subHeading {
    font-size: 22px;
    line-height: 30px;
  }
}

.body__smallCaption {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
.body__smallCaption a {
  color: black;
}
.body__smallCaption a:hover {
  text-decoration: underline;
}

.About__img {
  background-image: url("../images/Hero_Road.jpg");
  height: 500px;
  width: 100%;
  margin-top: 28px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .About__img {
    background-attachment: scroll;
    height: 350px;
    width: 100%;
    margin-top: 18px;
  }
}

.About__articleBlock {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  margin-top: -325px;
}
@media (max-width: 991px) {
  .About__articleBlock {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .About__articleBlock {
    max-width: 90vw;
  }
}
@media (max-width: 991px) {
  .About__articleBlock {
    margin-top: -350px;
  }
}
@media (max-width: 767px) {
  .About__articleBlock {
    margin-top: -250px;
  }
}

.About__articleIcon {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 72px;
  height: 72px;
  z-index: 1;
}
@media (max-width: 991px) {
  .About__articleIcon {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .About__articleIcon {
    width: 50px;
    height: 50px;
  }
}

.About__article {
  background-color: white;
  padding: 60px 32px 0 32px;
  position: relative;
  top: -36px;
}
@media (max-width: 991px) {
  .About__article {
    top: -30px;
    padding: 45px 22px 0 22px;
  }
}
@media (max-width: 767px) {
  .About__article {
    top: -25px;
    padding: 30px 12px 0 12px;
  }
}

.About__articleSubHeading {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 16px;
  font-style: italic;
  font-weight: normal;
}
@media (min-width: 1001px) and (max-width: 1280px) {
  .About__articleSubHeading {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 1000px) {
  .About__articleSubHeading {
    font-size: 22px;
    line-height: 30px;
  }
}

.About__articleAuthors {
  display: flex;
  flex-direction: row;
}

.About__articleAuthors_person {
  margin: 25px 10vw 0 0;
}

.About__articleHr {
  border: 1px solid #26e990;
}

.About__articleInterjection {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 16px;
  text-align: center;
}
@media (min-width: 1001px) and (max-width: 1280px) {
  .About__articleInterjection {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 1000px) {
  .About__articleInterjection {
    font-size: 22px;
    line-height: 30px;
  }
}

.About__articleList {
  padding-inline-start: 60px;
}
@media (max-width: 767px) {
  .About__articleList {
    padding-inline-start: 30px;
  }
}

.Contact__formBlock {
  background-color: black;
  padding-bottom: 20px;
  margin: 20px 0;
}

.Contact__formH1 {
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 20px 0;
}

.Contact__form {
  position: relative;
  width: 50%;
  max-width: 700px;
  background-color: white;
  padding: 16px;
  margin: 20px auto;
}
@media (max-width: 991px) {
  .Contact__form {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .Contact__form {
    width: 80%;
  }
}

.Index__questions {
  width: 65%;
  text-align: center;
  padding: 100px 0;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .Index__questions {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .Index__questions {
    width: 90%;
    padding: 50px 0;
  }
}

.Index__questionsH1 {
  margin-bottom: 0 !important;
}

.Index__blackBoxIcon {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 72px;
  height: 72px;
  z-index: 1;
}
@media (max-width: 991px) {
  .Index__blackBoxIcon {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .Index__blackBoxIcon {
    width: 50px;
    height: 50px;
  }
}

.Index__blackBox {
  position: relative;
  top: -36px;
  height: 350px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 991px) {
  .Index__blackBox {
    top: -30px;
    height: 310px;
  }
}
@media (max-width: 767px) {
  .Index__blackBox {
    top: -25px;
    height: 280px;
  }
}

.Index__blackBoxH2 {
  color: white;
  margin-bottom: 0;
  max-width: 960px;
  width: 100%;
}
@media (max-width: 991px) {
  .Index__blackBoxH2 {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .Index__blackBoxH2 {
    max-width: 90vw;
  }
}

.Index__bodyText {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.Privacy__mainBlock {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}
@media (max-width: 991px) {
  .Privacy__mainBlock {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .Privacy__mainBlock {
    max-width: 90vw;
  }
}

.nav__h4 {
  max-width: 960px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b6b6b6;
  margin: 50px auto 12px auto;
}
@media (max-width: 991px) {
  .nav__h4 {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .nav__h4 {
    max-width: 90vw;
  }
}

.nav__navItem_wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.nav__navItem {
  max-width: 960px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 991px) {
  .nav__navItem {
    max-width: 75vw;
  }
}
@media (max-width: 767px) {
  .nav__navItem {
    max-width: 90vw;
  }
}

.nav__navItemTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-bottom: 0;
  font-weight: bold;
  padding-left: 20px;
  color: black;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .nav__navItemTitle {
    font-size: 34px;
  }
}
@media (max-width: 991px) {
  .nav__navItemTitle {
    font-size: 28px;
  }
}
.nav__navItemTitle:hover, .nav__navItemTitle:active {
  color: #26e990;
  text-decoration: none;
}

.nav__navItemNumber {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
  margin-bottom: 0;
  font-weight: 300;
  color: #2c3147;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .nav__navItemNumber {
    font-size: 20px;
    line-height: 33px;
  }
}
@media (max-width: 991px) {
  .nav__navItemNumber {
    font-size: 18px;
    line-height: 30px;
  }
}

.footer__block {
  background-color: black;
  padding: 28px 0;
  text-align: center;
}

.footer__p {
  color: white;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
.footer__p a {
  color: black;
}
.footer__p a:hover {
  text-decoration: underline;
}
.footer__p a {
  color: white;
}
.footer__p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
